body {
    font-family: segoe ui,trebuchet MS,Lucida Sans Unicode,Lucida Sans,sans-serif;
    font-weight: 400;
    color: #181818;
    font-size: 16px;
    line-height: 1.5; /* 24px */ 
    /* background-color: gray; */
}

p, .p {
    font-size: 16px;
}

h1, .h1 {
    font-size: 50px;
}

h2, .h2 {
    font-size: 37px;
}

h3, .h3 {
    font-size: 28px;
}

h4, .h4 {
    font-size: 21px;
}

h5, .h5 {
    font-size: 12px;
}

small, .small {
    font-size: 9px;
}

strong, .bold {
    font-weight: 700;
}

strong, .normal {
    font-weight: 400;
}

.leadtitle {

}

/*
  ========================================
  Nav Stuff
  ======================================== */

.navbar {
    min-height:0;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 0px -1px 1px hsla(115, 100%, 1%, 1);
    height: 44px;
    line-height: 16px;
    
}

.navbar-brand--padding {
    padding-left: 52px;
}

.seperate {
    position: absolute;
    left: 0px;
    top: -6px;
    display: inline-block;
    height:60px;
    width:60px;
    background: url("../img/main_sprite.jpg") no-repeat 0px -211px;
    z-index: 100;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: hsla(225, 35%, 45%, 1);
}


.navbar-collapse {
    padding-left: 5px;
}

.nav--lead {
    letter-spacing: 3px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li  {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}

.nav-li--override {
    color: #fff;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav--padding-left {
    padding-left: 70px;
}


.nav-top--override {
    margin-bottom: 0;
    border: none;
    background-color: hsla(213, 100%, 17%, 1);
    border-radius: 0;
}

.nav-middle--override {
    position:relative;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: url("../img/headerbg1.jpg");
    background-size: contain;
}

.nav-bottom--override {
    background-color: hsla(213, 100%, 17%, 1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}


/*
  ========================================
  Form Stuff
  ======================================== */

.legend {
    background: url("../img/main_sprite.jpg") no-repeat -128px -272px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px dashed #ccc;
    padding-left: 23px;
    color: #181818;
    line-height: 24px;
    padding-bottom: 2px;
}

.form-control {
    background-color: #f4f4f4;
    box-shadow: none;
}

.form-group select{
    /* width:95%; */
}

.form-horizontal .control-label {
    font-size:14px;
    text-align: left;
    width: 166px;
    padding-right:0;
}



.form-horizontal .no-padding {
    padding-left: 15px;
}

/* Landscape phones and smaller */
/* Landscape phones and portrait tablets */
@media (min-width: 767px) {
.form-horizontal .no-padding {
    padding-left:0;
}

}

/*
  ========================================
  Side Stuff

  Parents

  Subclasses are subclasses of 

  Modifiers apply to specfic states or sections

  Parents are prefixed with --
  Children are prefixed with - 
  Subclasses precede parents
  GLobal Modifers are prefixed with is-selected or in-tiny, in-left
  Specfic modifiers extend 
  ======================================== */

    /* in bootstrap its pane-default and then > .panel-heading */
  

  .sidebar--panel {
    border: none;
    border-radius: none;
    box-shadow: none;
  }

  .sidebar--panel-heading  {
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    padding-top: 3px;
    color: #181818;
    padding-bottom: 2px;
  }


  .list-group {
    border:none;
    font-size: 11px;
  }

  .list-group-item {
    background: url("../img/main_sprite.jpg") no-repeat -129px -217px;
    border:none;
    color: #696969;
    border-top: 1px dashed #ccc;
    padding: 3px 20px;
  }

 .list-group-item  a{
    color: #cc0000;
  }


/*
  ========================================
  Detail Stuff
  ======================================== */
  
  .paste-title {
    display: inline-block;
    }

    .media {
        margin-bottom: 20px;
    }

    .paste-info > .highlight {
        border-bottom: 1px dashed #ccc;
    }
    
  .media-heading {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding-left: 3px;
   }

   .media-body {
    padding-left: 10px;
    vertical-align: top;
   }

   .paste-info {
    color: #696969;
    font-size: 11px;
    text-transform: uppercase;
  }


  .paste-box {
    padding: 2px;
    border: 1px solid #eee;
  }

  .paste-box-img {
    display: inline-block;
    background: url("../img/main_sprite.jpg") no-repeat 0 -307px;
    width: 50px;
    height: 50px;

  }

  .paste-title-globe {
    display: inline-block;
    background: url("../img/main_sprite.jpg") no-repeat -128px -225px;
    border:none;
    height: 16px;
    width: 16px;
    margin-bottom: -2px; 
  }