body {
    font-family: 'Source Sans Pro', sans-serif;  
    color: #555555;
}

a {
  color: #158cba;
}

/* select
-------------------------------------------------- */



.styled-select select {
border-radius: 3px;
 color: #444444;
background: none repeat scroll 0 0 transparent;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: url(../img/down_arrow_select.png) no-repeat scroll 99% 50% #fff;
background-size: 10px 10px;
}


/* Nav header stuff 
-------------------------------------------------- */

.navbar-default .navbar-brand {
 transform-style: preserve-3d;
color:#5e5e5e;
}


.enjoy-css {
    font-weight: 700;
		text-shadow:0px 1px 2px #fff;
		letter-spacing: 1px;
}

.navbar-default .navbar-brand:hover {
     color:#4e4e4e;
}


.navbar-brand img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.navbar-nav li a {
/*line-height: 38px;
margin-top: 4px;*/
}

.navbar-default .navbar-nav > li > a {
    font-weight: 400;  
    color: hsla(356, 0%, 35%, 1);  
}


.navbar { min-height:38px;   }
.navbar .navbar-brand{ padding: 0 12px;font-size: 18px;line-height: 40px;height: 40px; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }


/* Nav tabs 
-------------------------------------------------- */

.nav-tabs {
    /*text-transform: uppercase;*/
    margin-bottom: 5px;
}

/* Headers
-------------------------------------------------- */

.page-header {
  margin: 0 0 20px;
}

/*  Right Panel 
-------------------------------------------------- */

.list-wrap {
  word-wrap: break-word;
}

.recent-margin-space {
  margin-bottom: 15px;
}

/* CodeMirror stuff 
-------------------------------------------------- */

.CodeMirror { height: auto; color: #1D1C1D;}
.CodeMirror-scroll { max-height: 750px; min-height: 350px; } 

textarea {
     resize: none;

}


.codemirror_detail {
  overflow: inherit;
 
  /* border: 1px solid rgba(0, 0, 0, 0.15); */

}

.codemirror_home {

}

.CodeMirror pre {
}
/* codemirror theme css; should be created as seperate cm-theme */

.cm-s-default .cm-keyword {
     color: #333; 
    font-weight: 700;
}

.cm-s-default .cm-variable {
   color: #5c5aa2;
    font-weight: 700;
}


.cm-s-default .cm-builtin {
  
   color: #d14;
}

.cm-s-default .cm-def {
   color: #aa0000;
    font-weight: 700;
}

.cm-s-default .cm-comment {
    color: #858576;
}

.cm-s-default .cm-string {
    color: #721c1c;
}



/* Forms stuff 
-------------------------------------------------- */

/*
.form-inline label {
    display: block;
}

.form-inline-padding {
    padding-left:30px;
    display: inline-block;
}
*/

.btn-lg--very, .btn-lg--very:hover {
    width: 100%;
    margin-top: 14px;

}



/* Detail layout stuff 
-------------------------------------------------- */

.btn-default {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.detail-title {
    font-size: 30px;
    line-height: 36p;
    font-weight: 700; 
    color: rgb(85, 85, 85);
    padding: 0px;
    margin: 0px;
}

.detail-hr {
    padding: 0px;
    margin: 0px;
    width: 75%;
}

.detail-snub {
    font-size: 20px;
    font-weight: 700;  
    color: hsla(231, 0%, 48%, 1);
    margin-top: 2px;   
   
}

.detail-meta {
  margin-left: 10px;

}


.syntax {
    border: 1px #ddd;
    box-shadow: 0 0 3px #ddd;
    padding: 1px 5px;
    color: #fff;
    background-color: hsla(147, 47%, 50%, 1);
    border-radius: 2px;
    margin-left:15px;
}

.btn-sm > i {
  padding-right:5px;
}



/* Account templates form fixes
-------------------------------------------------- */

.has-success label  {
  color: #555555;
}


.radio_mod  {
  margin:0;
  margin-left:20px;
  position: absolute;
}

.radio_mod input[type="radio"],  {
  margin:0;
  position: absolute;
}



/* Tables
-------------------------------------------------- */

.table-large-width {
  width: 50%;
}

.table-small-width {
  width: 25%;
}


table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

table a:not(.btn):hover, .table a:not(.btn):hover {
  text-decoration: underline;
}


/* Info sections
-------------------------------------------------- */
.info-pages {
  font-size:17px;
  line-height: 1.510
  color: #949494;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 99%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.list-inline > .footer-flush {
padding-left: 0px;
}

